:root {
   --opacity: 1;

   /* colors */
   --hue: 5;
   --primary-500: hsla(var(--hue), 85%, 60%, var(--opacity));
   --primary-700: hsla(var(--hue), 85%, 45%, var(--opacity));
   --gray-50: hsla(var(--hue), 5%, 95%, var(--opacity));
   --bg: hsla(var(--hue), 5%, 95%, var(--opacity));
   --text: hsla(var(--hue), 5%, 5%, var(--opacity));
   --accent: var(--primary-700, var(--opacity));

   /* rounds */
   --rounded: 0.4rem;

   /* shadows */
   --shadow-light-sm: 0 1px 2px hsla(var(--hue), 5%, 5%, 75%);
   --shadow-dark-sm: 0 2px 8px hsla(var(--hue), 85%, 45%, 75%);
   --shadow-sm: var(--shadow-light-sm);

   /* timings */
   --duration-bg: 0; /* reset in ../src/App.svelte */
   --duration-text: 0; /* reset in ../src/App.svelte */
}

body.dark {
   /* colors */
   --bg: hsl(var(--hue), 5%, 5%);
   --text: hsl(var(--hue), 5%, 95%);
   --accent: var(--primary-500);

   /* shadows */
   --shadow-sm: var(--shadow-dark-sm);
}

html,
body {
   width: 100%;
   height: 100%;
}

body {
   margin: 0;
   background-color: var(--bg);
   color: var(--text);
   font-family: system-ui, serif;
   box-sizing: border-box;
   transition: color var(--duration-text), background-color var(--duration-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

a,
::marker {
   color: var(--accent);
}

button {
   border: none;
}

.btn {
   border-radius: var(--rounded);
   background-color: var(--primary-500);
   padding: 0.5rem 1rem;

   color: var(--gray-50);
   font-size: 1rem;
   font-weight: 400;

   outline-offset: 0.5rem;
   box-shadow: var(--shadow-sm);
   cursor: pointer;
}

.btn:active {
   box-shadow: none;
   transform: translate3d(0, 1px, 0);
}
